* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out forwards;
}




.card {
  position: relative;
  width: 140px;
  height: 140px;
  
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-20px);
}

.card::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #f5f3ef, #efe4e8);
  border-radius: 50%;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #d0d0ce, #b7b5b6);
  filter: blur(60px);
}





.card .content {
  position: relative;
  padding: 5px;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: .5em;
}
.content img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
   
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out both;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

@keyframes fadeInUpA {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUpA {
  animation: fadeInUpA 1s ease-out forwards;
}